.card{
    width: 350px;
    height: 500px;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 3px 10px #0000007a;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
    background-color: rgb(199, 199, 199);
}

.card img{
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.card p{
    text-align: center;
    font-size: 23px;
}

@media (max-width: 768px) {
    .card{
        width: 90%;
        height: auto;
    }

    .card p{
        font-size: 20px;
    }
}