.menu {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 30px;
    z-index: 999;
    background-color: rgb(102, 84, 67);
    box-shadow: 0px 1px 20px 5px inset #0000007c;
    font-size: 25px;
}


.s1{
    height: 100vh;
    background-image: url(../public/bgSujinho.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1 h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 500px;
}

.s1 img{
    border-radius: 999px;
    height:300px;
    box-shadow: 0px 0px 20px 3px  rgb(61, 61, 61);
}

.left{
    border-radius: 100%;
}

.s2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.braco{
    position: absolute;
    rotate: 290deg;
    width: 100px;
    height: auto;
    margin-top: -450px;
}

.wrapCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: fromDown 5s ease-in-out;
}

.puxada{
    animation: fromUp 5s ease-in-out;
    opacity: 0;
}

@keyframes fromUp{
    0%{
        transform: translateY(0vh);
        opacity: 1;
    }
    50%{
        opacity: 1;
        transform: translateY(100vh);
    }
    100%{
        opacity: 0;
        transform: translateY(0vh);
    }
}

    @keyframes fromDown{
        0%{
            transform: translateY();
        }
        50%{

        }
        100%{
            
        }
    }

.s3{
    height: 100vh;

}

.s4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wrapcardss4{
    display: flex;
    justify-content: center;
}

.cardS4{
    width: 310px;
    height: 85vh;
    background-color: rgba(122, 239, 255, 0.089);
    display: flex;
    flex-direction: column;
    align-items: center;    
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
    margin-top: 75px;
    filter: grayscale(1);
    transition: all 400ms ease-in-out;
}

.cardS4:hover{
    cursor: pointer;
    width: 600px;
    filter: grayscale(0);

}

.acordoIMG{
    display: flex;
    justify-content: center;
    align-items: center;        
    margin: 0;
    box-sizing: border-box;
}

.s5{
    height: 100vh;
    
}

.s6{
    height: 100vh;
    
}