.menu {
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 30px;
    z-index: 999;
    background-color: rgb(65, 65, 65);
    box-shadow: 0px 3px 8px 2px #0000007c;
    font-size: 25px;
}


.s1{
    height: 100vh;
    background-image: url(../public/bgSujinho.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.s1 h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 500px;
}

.s1 img{
    border-radius: 999px;
    height:300px;
    box-shadow: 0px 0px 20px 3px  rgb(61, 61, 61);
}

.left{
    border-radius: 100%;
}

.s2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 250px 80px -100px inset black;
    background-color: rgb(146, 146, 146);
    overflow: hidden;
}

.braco{
    position: absolute;
    rotate: 290deg;
    width: 100px;
    height: auto;
    margin-top: -450px;
}

.wrapCards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: fromDown 5s ease-in-out;
    
}

.puxada{
    animation: fromUp 5s ease-in-out;
    opacity: 0;
}

@keyframes fromUp{
    0%{
        transform: translateY(0vh); 
        opacity: 0; 
    }
    10%{
        opacity: 1; 
    }
    45%{
        transform: translateY(125vh); 
        opacity: 1;
    }
    60%{
        transform: translateY(125vh);
        opacity: 1;
    }
    100%{
        transform: translateY(0vh); 
        opacity: 0; 
    }
}

    @keyframes fromDown{
        0%{
            transform: translateY(100vh); 
            
        }
        50%{
            transform: translateY(100vh); 
        }
        100%{
            transform: translateY(0vh); 
        }
    }

.s3{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 146, 146);
    overflow: hidden;
}


.s3 h2{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 100px;
    text-shadow: 2px 2px 2px black;
    color: white;
}

.s3 p{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    text-shadow: 2px 2px 2px black;
    color: white;

}

.esquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 100vh;
}

.direita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 100vh;
}

.s4{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 146, 146);
}


.wrapcardss4{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 1px;
}

.cardS4{
    width: 95%;
    height: 85vh;
    background-color: rgba(122, 239, 255, 0.089);
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 75px;
    filter: grayscale(1);
    transition: all 400ms ease-in-out;
    overflow: hidden;

}

.cardS4:hover{
    cursor: pointer;
    width: 180%;
    filter: grayscale(0.5);
}

.cardIMG{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;        
    overflow: hidden;
    border-radius: 2px;
    filter: brightness(0.8);
    transition: all 700ms ease-in-out;
    position: relative;
}

.cardS4 h2{
    position: absolute;
    transition: opacity 1800ms ease-in-out, transform 700ms ease-in-out;
    color: white;
    opacity: 0;
    text-shadow: 2px 2px 2px black;
    margin: 20px;
    font-size: 30px;
    transform: translateY(810px);

}

.cardS4:hover h2{
    pointer-events: none;
    opacity: 1;
    transform: translateY(0);
}

.cardIMG:hover{
    filter: brightness(0.3);
}

.cardIMG img{
    height: auto;
    object-fit: cover;
}

.s5{
    height: 100vh;
    background-color: rgb(146, 146, 146);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s5 h1{
    letter-spacing: 10px;
    font-size: 60px;
    font-weight: bold;
    color: black,;
    margin-bottom: 100px;
}

.wrapcardss5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards5{
    background-color: rgb(204, 204, 204);
    border-radius: 20px;
    border: 2px solid black;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms all ease-in-out;
    padding: 2px;
}

.cards5:hover{
    background-color: white;
    scale: 1.08;
    border-radius: 15px;
}

.wrapcardss5 p{
    font-size: 27px;
    display: flex;
    text-align: center;
}

.s6{
    height: auto;
    background-color: rgb(105, 105, 105);
    display: flex;
    justify-content: center;
    align-items: center;
}

.s6 img{
    width: 200px;
    height: auto;
    margin-left: 10px;
    border-radius: 5px;
}

.s6 p{
    font-size: 20px;
    color: white;
}


@media (width <=768px) {
    .menu {
        font-size: 18px;
        gap: 15px;
        width: 100%;
    }

    .s1 h1{
        font-size: 40px;
        margin-bottom: 300px;
    }
    .s1 img{
        height: 200px;
        width: auto;
        
    }  

    .s2{
        height: auto;
    }

    .wrapCards{
        flex-direction: column;
        padding: 20px;
    }

    .wrapcardss5{
        gap: 3px;
    }

    .cards5{
        width: 190px;
        height: 300px;
        gap: 15px;
    }

    .wrapcardss5 p{
        font-size: 15px;
    }
    .s3 h1{
        font-size: 15px;
    }

    .s3 p{
        font-size: 17px;
    }

    .s3{
        flex-direction: column;
        height: auto;
    }

    @keyframes fromUp{
        0%{
            transform: translateY(0vh); 
            opacity: 0; 
        }
        10%{
            opacity: 1; 
        }
        45%{
            transform: translateY(200vh); 
            opacity: 1;
        }
        55%{
            transform: translateY(200vh);
            opacity: 1;
        }
        100%{
            transform: translateY(0vh); 
            opacity: 0; 
        }
    }

    @keyframes fromDown{
        0%{
            transform: translateY(150vh); 
            
        }
        55%{
            transform: translateY(150vh); 
        }
        100%{
            transform: translateY(0vh); 
        }
    }

    .s4{
        height: auto;
    }

    .wrapcardss4{
        flex-direction: column;
        width: 85%;
        gap: 1px;

    }

    .cardS4{
        height: 100px;
        margin: 0px;
    }

    .cardIMG{
        width: 100%;
        object-fit: cover;
    }


    .cardS4 h2{
        font-size: 22px;
    }

    .cardS4:hover{
        height: 300px;
        width: 95%;
    }

}